.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
build/
dist/
release/
.idea/
.vscode/
Thumbs.db
.DS_Store
examples/source/*
!examples/source/.gitkeep
examples/reference/*
!examples/reference/.gitkeep
examples/output/*
!examples/output/.gitkeep
